<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="ApplicationName" value="RM Google Drive Backup"/>
    <add key="ApplicationVersion" value="v0.9"/>

    <add key="ExportPath" value="C:\GitHub.local\BobGoedkoop\GDriveBackup\GDriveExport\"/>
    
    <add key="JsonCredentialsPath" value="C:\GitHub.local\BobGoedkoop\GDriveBackup\Documents\ServiceAccount_pdf-downloader_credentials.json"/>
    
    <add key="ConfigVersion" value="v1.0"/>
    <add key="ConfigPath" value="C:\GitHub\BobGoedkoop\GdriveBackup\GDriveBackup\Configuration\GDriveBackup.json"/>

  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>


  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.63.0.0" newVersion="1.63.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.63.0.0" newVersion="1.63.0.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
</configuration>
