<?xml version="1.0" encoding="utf-8" ?>
<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoreload="true"
  throwConfigExceptions="true"
  internalLogFile="C:\GitHub.local\BobGoedkoop\GDriveBackup\nlog-internal.log"
  internalLogLevel="Trace">
  >


  <variable name="logDirectory" value="C:\GitHub.local\BobGoedkoop\GDriveBackup\Logging\" />

  <targets>
    <target
      xsi:type="File"
      name="logFile"
      fileName="${logDirectory}GDriveBackup.log"
      archiveEvery="Day"
      layout="${longdate}|${level:uppercase=true}|${machinename}|${threadid}|${logger}|${message:withexception=true}"
    />

    <target
      xsi:type="ColoredConsole"
      name="logColoredConsole"
    />
  </targets>


  <rules>
    <logger
      name="*"
      minlevel="Trace"
      writeTo="logFile"
      enabled="true"
    />

    <logger
      name="*"
      minlevel="Info"
      writeTo="logColoredConsole"
      enabled="true"
    />
  </rules>

</nlog>