<?xml version="1.0" encoding="utf-8" ?>
<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoreload="true"
  throwConfigExceptions="true"
  internalLogFile="C:\GitHub.local\BobGoedkoop\GDriveBackup\logging\nlog-internal.log"
  internalLogLevel="Trace">
  <variable name="logDirectory" value="C:\GitHub.local\BobGoedkoop\GDriveBackup\Logging\" />
  <variable name="fileLayout" value="${longdate}|${level:uppercase=true}|${machinename}|${threadid}|${logger}|runId=${scopeproperty:item=RunId}|${message}|props=${all-event-properties:format=[key]=[value]:separator=, }${onexception:inner=|ex=${exception:format=type,message,method,tostring:maxInnerExceptionLevel=5}}" />

  <targets>
    <target
      xsi:type="File"
      name="logFile"
      fileName="${logDirectory}GDriveBackup.log"
      archiveEvery="Day"
      archiveNumbering="DateAndSequence"
      maxArchiveFiles="30"
      keepFileOpen="false"
      concurrentWrites="true"
      layout="${var:fileLayout}"
    />
    <target xsi:type="AsyncWrapper" name="asyncLogFile" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
        name="logFileWrapped"
        fileName="${logDirectory}GDriveBackup.log"
        archiveEvery="Day"
        archiveNumbering="DateAndSequence"
        maxArchiveFiles="30"
        keepFileOpen="false"
        concurrentWrites="true"
        layout="${var:fileLayout}" />
    </target>

    <target
      xsi:type="ColoredConsole"
      name="logColoredConsole"
      layout="${longdate}|${level:uppercase=true}|runId=${scopeproperty:item=RunId}|${message}${onexception:inner=|ex=${exception:format=message}}"
    />
  </targets>


  <rules>
    <logger
      name="*"
      minlevel="Trace"
      writeTo="asyncLogFile"
      enabled="true"
    />

    <logger
      name="*"
      minlevel="Info"
      writeTo="logColoredConsole"
      enabled="true"
    />
  </rules>

</nlog>
